.nav{
    position: fixed; /* Fixes the navbar to the viewport */
    top: 0; /* Positions it at the very top */
    left: 0; /* Positions it at the very left */
    width: 100%; /* Makes it span the full width of the viewport */
    padding: 10px 0;
    z-index: 1000;
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom,var(--secondary-bg-color), rgb(30, 2, 2));
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #8e2323;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #ffffff;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }