.header{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, var(--secondary-bg-color));
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
}

.header h1{
    color: white;
    font-size: 250%;
    padding: 20px;
}

.nav{
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom,var(--secondary-bg-color), rgb(0, 0, 0));
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}

.Angiew {
    display: flex;              /* enable flexbox */
    justify-content: center;    /* center horizontally */
    align-items: center;        /* center vertically */
    height: 100vh;              /* full viewport height */
    background-color: black; /* keeps page from scrolling */
}

.Angiew img {
    
    max-height: 100%;
    max-width: 100%; /* prevents image from overflowing container */
    height: auto;
    width: auto;   /* keeps height fixed */
}

body{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.966));
}
