.header{
    background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, var(--secondary-bg-color));
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
}

.header h1{
    color: white;
    font-size: 250%;
    padding: 20px;
}

.nav{
    padding-bottom: 5px;
    background-image: linear-gradient(to bottom,var(--secondary-bg-color), rgb(0, 0, 0));
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.nav a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 16px;
}



.image_1 img {
    margin-top: 5%;
    display: block;
    margin: auto;
    width: 15%;
    height: auto;
    overflow:hidden;
    border-radius: 10px;

}


body{
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.966));
}

@media screen and (max-width: 767px) {
                /* CSS rules for screens narrower than or equal to 767px */
            .header{
            background-image: linear-gradient(to bottom, rgb(0, 0, 0) 35%, var(--secondary-bg-color));
            padding-top: 200px;
            padding-bottom: 200px;
            text-align: center;
            font-size: 85%;
            font-weight: bold;
        }

        .header h1{
            color: white;
            font-size: 250%;
            padding: 20px;
        }

        .nav{
            padding-bottom: 5px;
            background-image: linear-gradient(to bottom,var(--secondary-bg-color), rgb(0, 0, 0));
            overflow: hidden;
            text-align: center;
            display: flex;
            justify-content: center;
            gap: 2%;
        }

        .nav a{
            color: white;
            text-decoration: none;
            font-size: 20px;
            padding: 14px 16px;
        }



        .image_1 img {
            overflow:hidden;
            margin-top: 5%;
            display: block;
            margin: auto;
            width: 65%;
            height: auto;
            border-radius: 10px;
        }


        body{
            background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.966));
        }
    }